body {
  font-family: "open sans condensed", sans-serif;
  background-color: antiquewhite;
}
.weather-app-wrapper {
  font-family: "Open Sans Condensed", sans-serif;
  max-width: 800px;
  max-height: 510px;
  background-color: #d7cefa;
  margin: 30px auto;
  border: 3px solid #8768fb;
  border-radius: 30px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}

.top {
  border-radius: 30px;
  padding-bottom: 30px;
}

.name {
  padding-top: 20px;
  text-align: center;
  color: #8768fb;
  font-weight: 700;
  font-size: 40px;
}

#date {
  color: gray;
  font-size: 20px;
  margin-left: 16px;
}

#time {
  color: gray;
  font-size: 20px;
  margin-left: 16px;
}

#search-form {
  margin: 60px;
  position: absolute;
  right: 200px;
}

#search-text {
  height: 50px;
  width: 200px;
}

#search-submit {
  color: White;
  background-color: #8768fb;
  border-radius: 30px;
  width: 100px;
  height: 50px;
  border-color: #8768fb;
}

.fas {
  color: #8768fb;
  font-size: 25px;
}

.currentForcast {
  color: gray;
  text-align: center;
}

.units {
  cursor: pointer;
}

.currentIcon {
  margin-top: 20px;
  margin-left: -150px;
}

#city {
  font-size: 30px;
  font-weight: 700;
}

#currentTemp strong {
  font-size: 64px;
  line-height: 1;
}

#currentTemp .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.tempClassification {
  cursor: pointer;
}

.weatherDetails {
  margin-top: 30px;
  margin-left: -50px;
  font-weight: 700;
  color: gray;
}

ul {
  list-style-type: none;
  padding: 0;
  text-transform: capitalize;
}

.future {
  padding: 20px;
  height: 200px;
  display: block;
  text-align: center;
  border-radius: 30px;
}

.footer {
  text-align: center;
  color: #8768fb;
  font-family: "open sans condensed", sans-serif;
  font-size: small;
}

.one {
  font-weight: 700;
}
